header{
    background-color: rgb(212, 212, 114);
    color: black;
    font-size: 1.5rem;
    font-weight: medium;
    padding: 20px 0;
}

.main-menu ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

.main-menu li{
    display: inline;
    margin-right: 10px;
}
.text{
  margin: 0 auto;
  max-width: 90%;
  font-size: 1.1rem;
}

body{
    margin: 0;
}

.info{
    margin: 0 auto;
    max-width: 90%;
}

.main-menu a{
    color: black;
    text-decoration: none;
    font-size: 1.5rem;
}

.main-menu a:hover{
    color: palevioletred;
}

.image{
    padding-top: 20px;
    height: 450px;
    width: 200x;
    text-align: left;
    margin: 0;
}

.image > img{
    height: 100%;
}

footer {
    background-color: rgb(212, 212, 114);
    color: black;
    padding: 20px 0;
}

p{
    text-align: left;
    margin: 0;
}

section{
    margin-bottom: 20px;
}

th,td{
    padding: 5px;
    border: 1px solid black;
}

table{
    border-collapse: collapse;
    text-align: center;
}

.advantages ul{
    padding: 0;
}

* {
    box-sizing: border-box;
    font-family: "Merriweather", system-ui;
  }
